name: nob.h CI

on:
  push:
    branches: ["master", "dasdware/issue*", "dpl-*", "*"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: build_nob
        run: gcc -o nob nob.c
      - name: run_nob
        run: ./nob build -- test
